.allcontainer {
  width: 50rem;
  height: 50rem;
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  margin: 50px auto;
}
  
.playercontainer{
    display: flex;
    margin: 30px auto;
    justify-content: center;
}

.playercontainer ol{
    display: flex;
    padding: 0px;
}

